<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Method-Management</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/main.js" type="text/javascript"></script>
  </head>

  <body>
  	<div class="container">
  		<div class="navbar-header">
        <div class="list-items">
          <a id="menu-toggle" href="#" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </a>
        </div>
  		</div>
  		<div id="sidebar-wrapper" class="sidebar-toggle">
        <div class="categories-title">
          <h3>The Categories</h3>
        </div>
        <ul class="sidebar-nav" name="The Categories">
        <!-- Dan Helped Me BIG TIME With This -->
        <% print.forEach((wiki, i) => { %>
  	    	<li>
  	      	<a class="list-items" href="/wiki/<%= print[i] %>/show"><%= print[i] %></a>
  	    	</li>
        <% }) %>
      </ul>
  		</div>
      <div class="main-container">
        <header>
          <a href="/"><h1>Method-Man(agement)</h1></a>
        </header>
        <section>
          <a href="/wiki/new"><img id="meth" src="method-man.svg" width="400px" alt=""></a>
        </section>
      </div>
    </div>
  </body>
</html>
